.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.chart-title {
    padding-bottom: 1em;
    font-size: 1em;
}

.dashboard-controller {
    /* border: 2px solid darkgrey; */
    border-radius: 0.5em;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 3em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.filtered-row {
    fill: grey;
    opacity: 0.1;
}

.muted-row {
    color: grey;
    opacity: 0.2;
}

.navbar-title {
    left: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    position: absolute;
}

.plot-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.line-0 {
    stroke: indianred;
}

.line-1 {
    stroke: aquamarine;
}

.line-2 {
    stroke: coral;
}

.line-3 {
    stroke: darkslateblue;
}

.line-4 {
    stroke: #800000; /* webmaroon */
}

.bar {
  stroke: none;
}

.bar-0 {
    fill: indianred;
}

.bar-1 {
    fill: aquamarine;
}

.bar-2 {
    fill: coral;
}

.bar-3 {
    fill: darkslateblue;
}

.bar-4 {
    fill: #800000; /* webmaroon */
}

.bar-filtered-out {
    fill: lightgrey;
}

.main-container {
    margin-top: 100px;
}
