{% extends "ab_testing_tool/base.html" %}
{% block title %}Registration{% endblock %}

{% block content %}
{% load widget_tweaks %}

<div style="text-align: center; margin-bottom: 30px">
  <h1>Register</h1>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-8">
    <form method="post" id="registration-form" novalidate>
      {% csrf_token %}

      {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
      {% endfor %}

      {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
	{% for error in form.non_field_errors %}
	<div class="form-error">
	  {{ error }}
	</div>
	{% endfor %}
      </div>
      {% endif %}

      {% for field in form.visible_fields %}
      <div class="form-group row">
	<label for="{{ field.id_for_label }}" class="col-sm-3">{{ field.label }}</label>

	{% if form.is_bound %}
	{% if field.errors %}
	{% render_field field class="form-control is-invalid col-sm-9" %}
	{% for error in field.errors %}
	<div class="invalid-feedback form-error">
	  {{ error }}
	</div>
	{% endfor %}
	{% else %}
	{% render_field field class="form-control is-valid col-sm-9" %}
	{% endif %}
	{% else %}
	{% render_field field class="form-control col-sm-9" %}
	{% endif %}

	{% if field.help_text %}
	<small class="form-text text-muted">{{ field.help_text }}</small>
	{% endif %}
      </div>
      {% endfor %}

      <div class="row">
	<div class="col-sm-3">
	</div>
	<div class="col-sm-9" style="padding-left: 0px">
	  <button type="submit" class="btn btn-primary">Submit</button>
	</div>
      </div>

    </form>
  </div>
</div>
{% endblock %}
