{% extends 'ab_testing_tool/base.html' %}

{% block content %}
<div class="col-centered" style="padding-left: 1em; padding-right: 1em; padding-top: 2em; max-width: 700px; ">
  <h2 class="center-text">Please verify your email before logging on</h2>
  <p>An email with an email verification link has been sent to your email address, click on it to activate your account, you can then log in once your email has been verified.</p>
  <a href="/accounts/login"><button class="btn btn-primary" style="margin-left: auto; margin-right: auto; display: block;">Log in</button></a>
</div>
{% endblock %}
